.car {
    width: 30%;
    margin: 10px 30%;
    background: #fafafafa;
    border: 2px solid silver;
    border-radius: 10px;
    padding: 1.2% 2%;
    color: #474747;
    font-size: 1.1em;
}


#app {
    margin-bottom: 40px;
}

.grey {
    background: grey;
}

.yellow {
    background: yellow;
}

.pink {
    background: pink;
}

.blue {
    background: blue;
}